// IntelliJ Files
**/.idea/**

// Dart Artifacts
**/.pub/**
dart/Monopoly/packages/**
dart/Monopoly/web/**/packages/**
dart/Monopoly/lib/**/packages/**
dart/Monopoly/tool/**/packages/**
**/.packages

bin/
