// Many of these are from W3Schools https://www.w3schools.com
html, body {
  background-color: #777777;
  font-family: Sans-Serif;
}

hr {
    font-size: 1.4719411223551057957681692732291vh;
    border-width: .2vh;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 0.09199632014719411223551057957682vh dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip.tooltiptext {
    visibility: hidden;
    width: 5.63vw;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 0.45998160073597056117755289788408vw 0;
    border-radius: 0.28129395218002812939521800281294vw;

    /* Position the tooltip text - see examples below! */
    position: fixed;
    z-index: 100;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.board {
/*    position: fixed; */
    background: #774455;
    z-index: -2;
}

.effect8 {
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.effect8:before, .effect8:after {
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}

.effect8:after {
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

.chipContainer {
    width: 9.38vw;
}

.chip {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 0 1.1720581340834505391467416783872vw;
    height: 4.6vh;
    font-size: 1.471941vh;
    line-height: 4.6vh;
    border: 0.14064697609001406469760900140647vw solid black;
    background-color: #bbb;
    text-align: left;
}

.chip div {
    float: left;
    margin: 0 .47vw 0 -1.17vw;
    height: 2.34vw;
    width: 4.6vh;
    border-radius: 50%;
    background-color: #FF0000
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 20; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    font-size: 4.5998vh;
    text-align: center;
    padding: 25% 0;
    color: #777;
}

canvas {
  background-color: #000;
  border: 0.04688232536333802156586966713549vw solid black;
}

#uiContainer {
  position: absolute;
  top: 0.91996320147194112235510579576817vh;
  right: 0.4688232536333802156586966713549vw;
  z-index: 3;
}

.gman-slider-label {
  float: left;
  gbackground-color: green;
}

.gman-slider-value {
  float: right;
  gbackground-color: blue;
}

.gman-slider-upper {
  gbackground-color: yellow;
  height: 1.5em;
}

.gman-slider-outer {
  gbackground-color: purple;
  height: 2.5em;
}

.gman-slider-slider {
  font-size: x-small;
  gbackground-color: red;
}

/* styles to apply if in an iframe */

body.iframe {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.iframe>.description {
  display: none;
}

.iframe>canvas {
  width: 100%;
  height: 100%;
}

.iframe canvas {
  border: none;
}

.iframe>#example {
  width: 100%;
  height: 100%;
}

.continueButton {
    clear: both;
    width: 18.75vw;
    text-align: center;
    font-size: 4.5998vh;
    background: #777;
    border: 0.14064697609001406469760900140647vw solid black;
    border-radius: 2.4594vw;
    margin: auto;
}

.roster {
    color: #fff;
    float: left;
    padding: 0 15% 0 15%;
    background: #333;
    height: 46vh;
    width: 18.75vw;
    text-align: center;
    border: 0.23441162681669010782934833567745vw solid #555;
    border-radius: 0.4688232536333802156586966713549vw;
    font-size: 3.2198vh;
    margin: 0 0 18.4vh 0;
}

.left {
    float: left;
}

.right {
    float: right;
}

.genericButton {
    border: 0.09376465072667604313173933427098vw solid #777;
    border-radius: 0.23441162681669010782934833567745vw;
    background: #000;
    color: #fff;
    width: 95%;
    margin: auto;
    margin-top: 1.02vh;
    text-align: center;
    height: 4.6vh;
    line-height: 4.6vh;
    white-space: nowrap;
    font-size: 2.3vh;
}